* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Times New Roman', Times, serif;
    color: hsl(100, 10%, 05%);
}

#site-name a {
     text-decoration: none;
     background-color: aliceblue ;
     color:hsl(100, 10%, 05%);
     font-size: 2em;
     opacity: .88;  
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
         
}

#site-name:hover {
    transform: scale(1.5);
    background-color: hsl(100, 10%, 05%);
    color:aliceblue;
}

nav {
    min-height: 20vmin;
    max-width:  100vmax;
    padding: auto;
    background-image: url(./images/pexels-miguel-á-padriñán-167092.jpg);
    background-size: contain;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: center;   
    align-items:  center;
    gap: 1rem;
    
}

.nav-bar ul {
    list-style: none;
}

.nav-bar ul li a{
    text-decoration: none;
    background-color: aliceblue;
    color:hsl(100, 10%, 05%);
    font-size: 20px;
    opacity: .88;
    gap: .5rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

}

.nav-bar ul li a:hover {
    background-color:hsl(100, 10%, 05%);
    color:aliceblue;
    transform: scale(2.1);       
}

 main h2{
    
    width:fit-content;
    opacity: .95;
    

}    

#hero {
    background-image: url(./images/pexels-cottonbro-3693097.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 100px;
    margin: 50px;
    background-position: 80%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    opacity: 0.5;
    border: solid black 1px;
    
    

}
 /* Dynamically change the jumbo-text opacity to a visible value, later on when searching?*/
#jumbo-text {
    opacity: 0;
    background-color: aliceblue;
}

#about {
    padding: 50px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background: linear-gradient(70deg, white, black, rgb(0,0, 0));
    color: white;
}

#about p {
    color: white;
    font-size: 20px;
}