* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Times New Roman', Times, serif;
    color: hsl(100, 10%, 05%);
}

#site-name a {
     text-decoration: none;
     background-color: aliceblue ;
     color:hsl(100, 10%, 05%);
     font-size: 2em;
     opacity: .88;  
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
         
}

nav {
    min-height: 20vmin;
    max-width:  100vmax;
    padding: auto;
    background-image: url(./images/pexels-miguel-á-padriñán-167092.jpg);
    background-size: contain;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: center;   
    align-items:  center;
    gap: 1rem;
    
}

.nav-bar ul {
    list-style: none;
}

.nav-bar ul li a{
    text-decoration: none;
    background-color: aliceblue;
    color:hsl(100, 10%, 05%);
    font-size: 20px;
    opacity: .88;
    gap: .5rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

}

.nav-bar ul li a:hover {
    background-color:hsl(100, 10%, 05%);
    color:aliceblue;       
}

 main h2{
    background-color: aliceblue;
    width:fit-content;
    opacity: .95;
}    

#hero {
    background-image: url(./images/pexels-cottonbro-3693097.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 100px;
    margin: 50px;
    background-position: 80%;
    
    

}